{{ 'section-main-page.css' | asset_url | stylesheet_tag }}



<div class="page-width page-width--narrow index-section section-{{ section.id }}-padding">

  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
